<div class="row">
  <div class="col">
    <h2 class="page-title">Dashboard</h2>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <app-opgepakt-vandaag></app-opgepakt-vandaag>
  </div>

  <!--<div class="col-3">-->
    <!--<app-gescand-vandaag></app-gescand-vandaag>-->
  <!--</div>-->

  <!--<div class="col-3">-->
    <!--<app-vergelijking-acties></app-vergelijking-acties>-->
  <!--</div>-->

  <!--<div class="col-3">-->
    <!--<app-vergelijking-acties></app-vergelijking-acties>-->
  <!--</div>-->

  <!--<div class="col-3">-->
    <!--<app-opgepakt-vandaag></app-opgepakt-vandaag>-->
  <!--</div>-->

  <!--<div class="col-3">-->
    <!--<app-gescand-vandaag></app-gescand-vandaag>-->
  <!--</div>-->

  <!--<div class="col-3">-->
    <!--<app-vergelijking-acties></app-vergelijking-acties>-->
  <!--</div>-->

  <!--<div class="col-3">-->
    <!--<app-vergelijking-acties></app-vergelijking-acties>-->
  <!--</div>-->
</div>