<div class="row">
  <div class="col">
    <h2 class="page-title">Voorraad</h2>
  </div>
</div>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th># SKU</th>
      <th>Naam</th>
      <th>Merk</th>
      <th>Maat</th>
      <th>Prijs</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.sku }}</td>
      <td>{{ product.shoe.name }}</td>
      <td>{{ product.shoe.brand }}</td>
      <td>{{ product.size.eu_size }}</td>
      <td>&euro; {{ product.price }}</td>
    </tr>
  </tbody>
</table>
