<div class="row">
  <div class="col">
    <h2 class="page-title pb-3">Voorraad</h2>
  </div>
</div>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Naam</th>
      <th>Merk</th>
      <th>Maat</th>
      <th>Prijs</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td [innerHtml]="product.shoe.name"></td>
      <td [innerHtml]="product.shoe.brand"></td>
      <td [innerHtml]="product.size.eu_size"></td>
      <td [innerHtml]="'&euro; ' + product.shoe.price"></td>
    </tr>
  </tbody>
</table>
