<div class="row">
    <div class="col">
        <h2 class="page-title">Schappen</h2>
    </div>
</div>

<div class="row">
    <div class="col-4 pb-4" *ngFor="let shelf of shelves">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Schap {{ shelf.id }}</h3>
                <p class="card-text" *ngIf="shelf.demo">{{ shelf.demo.product.shoe.brand }} &ndash; {{ shelf.demo.product.shoe.name }}</p>
                <p class="card-text text-right" *ngIf="shelf.demo">&euro;{{ shelf.demo.product.price }}</p>

                <p class="card-text" *ngIf="!shelf.demo">Schap is nog niet gekoppeld.</p>

                <!-- TODO: koppelen pagina -->
                <a href="#" class="btn btn-primary" *ngIf="!shelf.demo">koppelen</a>
            </div>
        </div>
    </div>
</div>