<div class="row">
    <div class="col">
        <h2 class="page-title pb-3">Koppelen</h2>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col">
        <form>
            <div class="form-group row">
                <label class="col col-form-label">Schap</label>
                <div class="col">
                    <p class="form-control-static"># {{ shelf?.id }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col col-form-label">Sticker (demo)</label>
                <div class="col">
                    <p class="form-control-static">{{ uuid }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col col-form-label">Producten</label>
                <div class="col">
                <select class="form-control" id="product">
                    <option *ngFor="let product of products" [value]="product.id">{{ product.size.eu_size }} - {{ product.shoe.brand}} - {{ product.shoe.name }} - {{ product.shoe.color }}</option>
                </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Koppelen</button>
        </form>
    </div>
</div>
