<div class="row">
    <div class="col">
        <h2 class="page-title pb-3">Settings</h2>
    </div>
</div>

<div class="row">
    <div class="col-6 pb-4" *ngFor="let setting of settings">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title" [innerText]="setting?.title"></h3>
                <p class="card-text" [innerText]="setting?.description"></p>
                <a class="btn" [ngClass]="{'btn-danger text-white': setting?.value, 'btn-secondary': !setting?.value}" (click)="toggleSetting(setting?.key)" [innerText]="'zet ' + (setting?.value ? 'uit' : 'aan')"></a>
            </div>
        </div>
    </div>
</div>

